<launch>
  	<arg name="multi_robot_name" default=""/>

   	<!--<node name="serial_node" pkg="rosserial_python" type="serial_node.py">
		<param name="port" value="/dev/ttyACM0"/>
   		<param name="tf_prefix" value="$(arg multi_robot_name)"/>

  	</node>-->
	<node name="dbot_controller" pkg="nox" type="dbot_controller">
		<param name="publish_tf" value="true" />
    		<param name="publish_rate" value="10.0" />
    		<param name="linear_scale_positive" value="1.025" />
    		<param name="linear_scale_negative" value="1.025" />
    		<param name="angular_scale_positive" value="1.078" />
    		<param name="angular_scale_negative" value="1.078" />
		<param name="angular_scale_accel" value="0.0" />
	</node>	



</launch>
